# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode cache
__pycache__/

# Ignore IDE-specific files (e.g., JetBrains/IntelliJ IDEA, PyCharm)
.idea/

# Ignore Python virtual environments
venv/

# Ignore server uploads and downloads
server/uploads/*.xlsx
server/downloads/*.xlsx

# Ignore Initialiser DataSheet.xlsx files
/initialiser/DataSheet.xlsx

# Ignore Merger output csv files
/merger/*.csv

# Ignore cron manual_backups
/cron/backups/*.csv
/cron/logfile.log
