<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload XLSX Files</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Upload Datasheet.xlsx File</h1>
        <form id="uploadForm">
            <input type="file" id="file" name="file" accept=".xlsx" required>
            <button type="submit">Upload</button>
        </form>
        <small>File has to be named exactly: "Datasheet.xlsx" otherwise it won't be accepted!</small>
        <p id="responseMessage"></p>
    </div>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const fileInput = document.getElementById('file');
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('file', file);

            try {
                const response = await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });

                const message = await response.text();
                const responseMessage = document.getElementById('responseMessage');
                if (response.ok) {
                    responseMessage.textContent = message;
                    responseMessage.style.color = 'green';
                } else {
                    responseMessage.textContent = message;
                    responseMessage.style.color = 'red';
                }
            } catch (error) {
                console.error('Error uploading file:', error);
            }
        });
    </script>
</body>
</html>
